{% extends "base.html" %}
{% block title %}Web2kinlde 使用教程{% endblock %}

{% block head %}
    <script type="text/javascript">
        //iframe高度自适应
        function SetCwinHeight() {
            var iframeid = document.getElementById("iframepage"); //iframe id
            if (document.getElementById) {
                if (iframeid && !window.opera) {
                    if (iframeid.contentDocument && iframeid.contentDocument.body.offsetHeight) {
                        iframeid.height = iframeid.contentDocument.body.offsetHeight;
                    }
                    else if (iframeid.Document && iframeid.Document.body.scrollHeight) {
                        iframeid.height = iframeid.Document.body.scrollHeight;
                    }
                }
            }
        }
    </script>
{% endblock %}

{% block nav %}
    <li class=""><a href="/">主页</a></li>
    <li class=""><a href="/config">脚本配置</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            使用教程 <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li class="active"><a href="/guide_gui">Web2kindle GUI版教程</a></li>
            <li class=""><a href="/guide_cli">Web2kindle CLI版高级教程</a></li>
        </ul>
    </li>
    <li class=""><a href="/doc">项目文档</a></li>
    <li class=""><a href="/about">关于</a></li>
{% endblock %}

{% block content %}
    <iframe id="iframepage" onload="Javascript:SetCwinHeight()" align="center" width="100%"
            src="{{ url_for('static', filename='GUIDE_GUI.html') }}" frameborder="no" border="0" marginwidth="0"
            marginheight="0" scrolling="no"></iframe>
{% endblock %}