{% extends "base.html" %}
{% block title %}Web2kinlde 主页{% endblock %}
{% block head %}
    <script src="{{ url_for("static", filename="js/common.js") }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var script_name = '';
            var kw = {};

            $(window.script_name).each(function (k, v) {
                $("#" + v).submit(function (e) {
                    e.preventDefault();
                    var t = $("#" + v).serializeArray();
                    t.push({"name": "script_name", "value": v});
                    t.push({"name": "kw", "value": JSON.stringify(kw)});
                    $.post("/action", t, function (data, status) {
                        if (data) {
                            alert(data);
                        }
                    });
                });
            });


            $(".kw_btn").click(function () {
                $(".modal-body").empty();
                $(".modaal-body").append('<div class="row"><div class="col-md-6">参数</div><div class="col-md-6">值</div></div></hr>\n');

                script_name = $(this).parent().parent().attr("id");
                var script_kw = window.kw[script_name];
                console.log(script_name)
                console.log(script_kw)

                $(script_kw).each(function (k, v) {
                    if (v.select == null) {
                        $(".modal-body").append('' +
                            '<div class="row"><div class="col-md-6 kw_row"><p id="kw_k_' + k + '">' + v.name + '</p></div>\n' +
                            '<div class="col-md-6 kw_row"><input id="kw_v_' + k + '" type="text" class="form-control kw_v" placeholder="" value="' + v.default + '"></div></div>');
                    }
                    else {
                        var option_s = '';
                        $(v.select).each(function (k, v) {
                            option_s = option_s + '<option value="' + v + '">' + v + '</option>'
                        });

                        $(".modal-body").append('' +
                            '<div class="row"><div class="col-md-6 kw_row"><p id="kw_k_' + k + '">' + v.name + '</p></div>\n' +
                            '<div class="col-md-6 kw_row"><select id="kw_v_' + k + '">' + option_s + '</select></div></div>');
                    }

                });

            });

            $("#kw_submit_btn").click(function () {
                kw = {};
                var script_kw = window.kw[script_name];

                $(script_kw).each(function (k, v) {
                    kw[$('#kw_k_' + k).text()] = $('#kw_v_' + k).val()
                });

                console.log(kw)
            });


        });
    </script>

    <style type="text/css">
        .row {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .row p {
            margin-top: 8px;
        }

        .kw_row {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>
{% endblock %}
{% block nav %}
    <li class="active"><a href="/">主页</a></li>
    <li class=""><a href="/config">脚本配置</a></li>
    <li class=""><a href="/about">关于</a></li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <p>脚本名字</p>
            </div>
            <div class="col-md-2">
                <p>脚本功能</p>
            </div>
            <div class="col-md-2">
                <p>定位元素(必填)</p>
            </div>
            <div class="col-md-1">
                <p>参数</p>
            </div>
            <div class="col-md-1">
                <p>开始范围</p>
            </div>
            <div class="col-md-1">
                <p>结束范围</p>
            </div>
            <div class="col-md-1">
                <p>下载图片</p>
            </div>
            <div class="col-md-1">
                <p>下载gif</p>
            </div>
            <div class="col-md-1">
                <p>邮箱推送</p>
            </div>
        </div>
        <hr>

        {% for script in scripts %}
            <div class="row">
                <form role="form" id="{{ script.script_name }}">
                    <div class="col-md-1">
                        <p style="font-size: 80%;color:green">{{ script.script_name }}</p>
                    </div>
                    <div class="col-md-2">
                        <p>{{ script.script_introduction }}</p>
                    </div>
                    <div class="col-md-2">
                        {% if script.i %}
                            <input type="text" required="required" class="form-control" name="i"
                                   placeholder="{{ script.i[1] }}">
                        {% endif %}
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-sm btn-primary kw_btn" data-toggle="modal" data-target="#myModal">
                            设置
                        </a>
                    </div>
                    <div class="col-md-1">
                        {% if script.start %}
                            <input type="text" class="form-control" name="start" placeholder="">
                        {% endif %}
                    </div>
                    <div class="col-md-1">
                        {% if script.start %}
                            <input type="text" class="form-control" name="end" placeholder="">
                        {% endif %}
                    </div>
                    <div class="col-md-1">
                        {% if script.img %}
                            <input type="checkbox" checked="checked" name="img">
                        {% endif %}
                    </div>
                    <div class="col-md-1">
                        {% if script.gif %}
                            <input type="checkbox" name="gif">
                        {% endif %}
                    </div>
                    <div class="col-md-1">
                        {% if script.email %}
                            <input type="checkbox" name="email">
                        {% endif %}
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-sm btn-success">开始</button>
                    </div>
                </form>
            </div>

        {% endfor %}
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">参数设置</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="kw_submit_btn" data-dismiss="modal">提交更改</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
{% endblock %}